{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/user/style.css' %}">{% endblock %}

{% block title %} BEATSPOT: EDYTUJ PROFIL {{ profile.username }} {% endblock %}

{% block body %}

    <div class="page_title">EDYTUJ PROFIL: {{ profile.username }} </div>

    <div class="container">
    {##todo: wycentrować za pomocą css    #}
    <div class="form">
        <form method="post" enctype='multipart/form-data'>

            {% csrf_token %}
            {#        {%  crispy form %}#}
            {{ form|crispy }}

            <p class="btnwrap">
                <button type="submit" class="btn btn-outline-primary">ZAPISZ ZMIANY</button>
            </p>
        </form>
    </div>>
    </div>
{% endblock %}