{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} BEATSPOT: EDYTUJ PROFIL {{ profile.username }} {% endblock %}

{% block body %}

    EDYTUJ PROFIL: {{ profile.username }} <br><br>

    {##todo: wycentrować za pomocą css    #}
    <center>
        <form method="post" enctype='multipart/form-data'>

            {% csrf_token %}
            {#        {%  crispy form %}#}
            {{ form|crispy }}


            <button type="submit" class="btn btn-outline-primary">ZAPISZ ZMIANY</button>
        </form>
    </center>

{% endblock %}