{% extends "base.html" %}
{% load static %}


{%  block body%}

    <br>

{% if profile.photo %}

<img style="height:250px; width:250px; margin:auto"
      src="{{ profile.photo.url}}" alt="Photo"><br>

{% else %}

    <img style="height:250px; width:250px; margin:auto"
      src="{% static 'images/default_photo.png' %}" alt="Photo"><br>

{% endif %}

Wyświetlenia: {{ hitcount.total_hits }}<br>
PROFIL: {{ profile.username }} <br>
DOŁĄCZYŁ: {{ profile.date_joined }} <br>
IMIE: {{ profile.first_name }} <br>
NAZWISKO: {{ profile.last_name }} <br>
LAST LOGIN: {{ profile.last_login }} <br>
EMAIL: {{ profile.email }} <br>
BIOGRAFIA: {{ profile.bio }} <br> <br>


NEWSY USERA:<br>
    {% for article in user_articles %}

        {{ article.title }} <br>

    {% endfor %} <br>

VIDEO USERA:<br>

    {% for video in user_videos %}

        {{ video.video_title }} <br>

    {% endfor %}

{% endblock %}





