.page_title{
    font-size: 40px;
    padding: 30px;
    text-align: center;
    color: white;
    background-color: black;
    width: 100%;

}

.container {
   padding: 25px;
}


/*FORMULARZE W VIDEO*/

div.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 70%;

}

.btnwrap {
    text-align: center;
}

button {
    margin: 0 auto;
    display: block;
}