{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}BEATSPOT: DODAJ NEWS{% endblock %}

{% block body %}

    DODAJ NEWS <br><br>

    {##todo: wycentrować za pomocą css    #}

    <center>
        <form method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {{ form.media }}
            {#        {%  crispy form %}#}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-primary">DODAJ NEWS</button>
        </form>
    </center>




{% endblock %}