{% extends "base.html" %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/news/style.css' %}">{% endblock %}

{% load hitcount_tags %}


{% block title %} BEATSPOT: STRONA  GŁÓWNA NEWSÓW {% endblock %}



{% block body %}

    {#LISTA WSZYSTKICH ARTYKUŁÓW#}

    STRONA GŁÓWNA NEWSÓW <br><br>
{##todo: do zmiany ale mniej więcej tak:#}
    <div class="row">
  <div class="col-md-4">{% for articles in last_hot_articles %}
      <div class="title" >{{ articles.title }}</div><br>
{% endfor %}</div>
  <div class="col-md-4">TYTUł<br>{% for articles in last_hot_articles %}
    {{ articles.title }}<br>
{% endfor %}</div>
</div>
<br><br>

MEGA HOT TRENDING PROMOWANE:<br>
{% for articles in last_hot_articles %}
    {{ articles.title }}<br>
{% endfor %}
<br><br>

WSZYSTKIE PROMOWANE <br>
{% for articles in object_list %}
    {{ articles.title }}<br>
{% endfor %}
<br><br>


LAST TRENDING:<br>
{% for articles in last_trending_articles %}
    {{ articles.title }}<br>
{% endfor %}
<br><br>

OSTATNIO DODANE (wszystkie newsy)<br>
{% for articles in last_add_articles %}
    {{ articles.title }}<br>
{% endfor %}
{#DODAĆ LINK DO PRZENOSZENIA DO WSZYSTKICH NEWSOW#}
<br><br>

  {#PAGINACJA#}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo; POPRZEDNIA </a>
        {% endif %}
        Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> NASTĘPNA &raquo;</a>
        {% endif %}
    {% endif %}

{% endblock %}



