{% extends "base.html" %}
{% load static %}

{% block title %} BEATSPOT: KATEGORIA {{ view.articlecategory.category_name|upper }} {% endblock %}


{% block body %}

    {#    WIDOK KONKRETNEJ KATEGORII#}

    KATEGORIA: {{ view.articlecategory.category_name|upper }} <br><br>

    {#W PRZYPADKU DETAIL VIEW: CategoryArticlesList(DetailView):#}
    {# BIORĘ ITERACYJNIE WSZYSTKIE NEWSY Z KONKRETNEJ KATEGORII#}
    {#REVERSE ODWRACA ABY PIERWSZY NEWS BYŁ NA GÓRZE#}
    {#{% for article in articlecategory.articles.iterator reversed %}#}
    {#    <h3>{{ article.title }}</h3> <br>#}
    {#{% endfor %}#}

    {#PONIŻEJ DLA ListView#}

    {% if object_list %}
        {% for article in object_list %}
            {% if article.image %}
                <img src="{{ article.image.url }}"><br>
            {% endif %}

            Tytuł: <a href="{{ article.get_absolute_url }}"> {{ article.title|upper }} </a> <br>
            {% if user.id == article.author.id %}
                <small>
                    <a class="btn btn-outline-primary btn-sm" role="button"
                       href="{% url 'news:update_article' pk=article.pk slug=article.slug %}"><i
                            class="far fa-edit"></i></a>
                    <a class="btn btn-outline-primary btn-sm" role="button"
                       href="{% url 'news:delete_article' pk=article.pk slug=article.slug %}"><i
                            class="far fa-trash-alt"></i></a></a> <br>
                </small>
            {% endif %}
            {% for category in article.category.iterator %}
                <a class="badge badge-pill badge-secondary"
                   href="{% url 'news:category_articles_list'  category.slug %}">    {{ category | upper }} </a>
            {% endfor %} <br>
            {#    KATEGORIA_string: {{ article.article_categories }} <br>#}

            AUTOR: <a href="{% url 'profile' article.author %}">{{ article.author }} </a><br>
            {#    KATEGORIA_iterator:#}

            SNIPPET:
            {{ article.snippet }} <a href="{{ article.get_absolute_url }}"> czytaj dalej >>> </a> <br><br><br>

        {% endfor %}
    {% else %}
        Brak artykułów.
    {% endif %}


    {#PAGINACJA#}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo; POPRZEDNIA </a>
        {% endif %}
        Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> NASTĘPNA &raquo;</a>
        {% endif %}
    {% endif %}

{% endblock %}
