{% extends "base.html" %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/news/style.css' %}">{% endblock %}
{% block title %} BEATSPOT: USUŃ {{ article.title | upper }} {% endblock %}


{% block body %}

    USUŃ NEWSA: {{ article.title | upper }} <hr>


    {#todo: ZROBIĆ JAKIŚ FAJNY FORMULARZ#}
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        CHCESZ USUĄĆ: {{ object.title }} <br>
        CZY JESTEŚ PEWIEN? <br>
    <button type="submit" class="btn btn-outline-danger">USUŃ</button>
    <a class="btn btn-outline-secondary" href="{% url 'news:article_detail' pk=article.pk slug=article.slug %}">ANULUJ </a>
    </form>

{% endblock %}