{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/news/style.css' %}">{% endblock %}

{% block title %} BEATSPOT: ZAKTUALIZUJ {{ article.title }} {% endblock %}


{% block body %}

    EDYTUJ {{ article.title }} <br><br>

    {#W widoku nie używam mixina do sprawdzenia czy user, który usuwa newsa jest jego właścicielem#}
    {#więc muszę to zrobić tutaj.#}
    {% if user.id == article.author.id %}
        {##todo: wycentrować za pomocą css    #}
<div class="form">
            <form method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form.media }}
                {#        {%  crispy form %}#}
                {#            {{ form|crispy }}#}
                {{ form.title|as_crispy_field }}
                {{ form.image|as_crispy_field }}

                {{ form.category|as_crispy_field }}

                {{ form.snippet|as_crispy_field }}
                {{ form.body|as_crispy_field }}
                <p class="btnwrap">
                    <button type="submit" class="btn btn-outline-primary">EDYTUJ NEWS</button></p>


            </form>

    {% else %}
        NIE MOŻESZ EDYTOWA TEGO NEWSA!
    {% endif %}
</div>
{% endblock %}