{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}   <link rel="stylesheet" href="{% static 'css/video/style.css' %}">{% endblock %}
{% block title %}BEATSPOT: DODAJ VIDEO{% endblock %}

{% block body %}

    <div class="page_title">DODAJ VIDEO </div>
<div class="container">
<div class="form">
        <form method="post" enctype='multipart/form-data'>
            {% csrf_token %}

            {{ form.media | safe }}

{#            {{ form|crispy }}#}
             {{ form.video_title|as_crispy_field }}
            {{ form.youtube_video|as_crispy_field }}
            {{ form.category|as_crispy_field }}
            {{ form.snippet|as_crispy_field }}
            {{ form.body|as_crispy_field }}
            <p class="btnwrap">
                <button type="submit" class="btn btn-outline-primary">DODAJ VIDEO</button></p>
        </form>
</div>
</div>
{% endblock %}