{% extends "base.html" %}
{% load embed_video_tags %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/video/style.css' %}">{% endblock %}

{% block title %} BEATSPOT: KATEGORIA {{ view.videocategory | upper }} {% endblock %}


{% block body %}

    {#LISTA Video Z KONKRETNEJ KATEGORII#}

    <div class="page_title">KATEOGORIA: {{ view.videocategory | upper }} </div>

    {% include 'video/video_list_base.html' %}



    {#PAGINACJA#}

{% include 'video/video_paginate_base.html' %}

{% endblock %}








<br>KATEOGIRA: {{ view.videopycategory }} <br>

{% if object_list %}

    {% for videos in object_list %}
        <br>TYTUŁ:{{ videos.video_title|upper }} </a> <br>

        AUTOR: <a href="{% url 'profile' videos.author %}">{{ videos.author }} </a><br>

    {% endfor %}


{% else %}

    <p>Nie ma </p>

{% endif %}


{#PAGINACJA#}

{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">&laquo; POPRZEDNIA </a>
    {% endif %}

    Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"> NASTĘPNA &raquo;</a>
    {% endif %}

{% endif %}

