{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}   <link rel="stylesheet" href="{% static 'css/video/style.css' %}">{% endblock %}
{% block title %}BEATSPOT: EDYTUJ VIDEO{% endblock %}

{% block body %}

    EDYTUJ {{ video.video_title }} <br><br>

    {#W widoku nie używam mixina do sprawdzenia czy user, który usuwa newsa jest jego właścicielem#}
    {#więc muszę to zrobić tutaj.#}
    <div class="form">
    {% if user.id == video.author.id %}

            <form method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                {#        {{form.as_p}}#}
                {{ form.media | safe }}
                {#        {%  crispy form %}#}
                {#                {{ form|crispy }}#}

                {{ form.video_title|as_crispy_field }}
                {{ form.youtube_video|as_crispy_field }}
                {{ form.category|as_crispy_field }}
                {{ form.snippet|as_crispy_field }}
                {{ form.body|as_crispy_field }}
                <p class="btnwrap">
                    <button type="submit" class="btn btn-outline-primary">ZAKTUALIZUJ VIDEO</button></p>
            </form>

    {% else %}
        NIE MOŻESZ EDYTOWA TEGO VIDEO!
    {% endif %}
</div>
{% endblock %}