{% extends "base.html" %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/video/style.css' %}">{% endblock %}
{% load hitcount_tags %}

{% block title %} BEATSPOT: STRONA  GŁÓWNA VIDEO {% endblock %}


{% block body %}


    <div class="page_title">VIDEO | STRONA GŁÓWNA </div>

<div class="container">
MEGA HOT TRENDING PROMOWANE:<br>
{% for videos in last_hot_videos %}
    {{ videos.video_title }}<br>
{% endfor %}
<br><br>

WSZYSTKIE PROMOWANE <br>
{% for videos in object_list %}
    {{ videos.video_title }}<br>
{% endfor %}
<br><br>


LAST TRENDING:<br>
{% for videos in last_trending_videos %}
    {{ videos.video_title }}<br>
{% endfor %}
<br><br>

OSTATNIO DODANE (wszystkie video)<br>
{% for videos in last_add_videos %}
    {{ videos.video_title }}<br>
{% endfor %}
{#DODAĆ LINK DO PRZENOSZENIA DO WSZYSTKICH VIDEO#}
<br><br>

  {#PAGINACJA#}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo; POPRZEDNIA </a>
        {% endif %}
        Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"> NASTĘPNA &raquo;</a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}



