{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/user/style.css' %}">{% endblock %}

{% block title %}BEATSPOT: ZMIANA HASŁA {% endblock %}

{% block body %}

    <div class="page_title">ZMIANA HASŁA </div>
<div class="container">
    <div class="form">
        <form action="" method="post">
            {% csrf_token %}
            {#        {%  crispy form %}#}
            {{ form|crispy }}
            <p class="btnwrap">
                <button type="submit" class="btn btn-outline-primary">ZMIEŃ HASŁO</button></p>
        </form>
    </div>
</div>
{% endblock %}